.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.lmj-plant-btn{
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #fff;
	color: #000;
	padding: 5px;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.lmj-plant-btn:hover{
	border: 1px solid #31b472;
	border-radius: 5px;
	background-color: #31b472;
	color: #fff;
	padding: 5px;
	
}